@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&family=Ubuntu:wght@300&display=swap');

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "navigation navigation"
    "paragraph_one image_one"
    "footer footer";
}

.navigation {
    grid-area: navigation;
}

.paragraph_one {
    grid-area: paragraph_one;
}

.image_one {
    grid-area: image_one;
}

.footer {
    grid-area: footer;
}

h1  {
    font-family: 'Ubuntu', sans-serif;
}

p   {
    font-family: 'Nunito', sans-serif;
}