/* imported url from google fonts which include the reference from where they come from */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&family=Ubuntu:wght@300&display=swap');

/* seperates the window view from the phone view*/
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr 1fr 1fr 1fr 1fr 1fr));
    grid-template-rows: auto;
    grid-template-areas:
    "blankOne title title title title blankTwo" 
    "blankThree navigation navigation navigation navigation blankFour"
    "blankFive header header header header blankSix"
    "blankSeven paragraph_one paragraph_one paragraph_one paragraph_one blankEight"
    "blankNine footer footer footer footer blankTen";
    grid-gap: 4px;
}

/* seperates the phone view from the windows view*/
@media only screen and (max-width: 600px) {
    .container {
     grid-template-columns: 1fr;
     grid-template-rows: auto;
     grid-template-areas: 
     "title"
     "nav"
     "header"
     "paragraph_one"
     "footer";
    }
  }

body {
  margin: 0;
  margin-bottom: 25rem;
}

/* designated parts for the style of each of box */
.div {
    resize: both;
    overflow: auto;
    background-color: solid rgb(0, 0, 0);
}

/* describes the style of the background image */
body {
    background-image: url("Images/istockphoto-482206266-170667a-mecca.jpg");
    background-repeat: no-repeat; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-position: center;
}

/* designated parts for the style of each of box */
.title {
    grid-area: title;
    padding: 10px;
    border: solid rgb(0, 0, 0);
    text-align: center;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

/* designated parts for the style of each of box */
.navigation {
    grid-area: navigation;
    padding: 10px;
    border: solid rgb(0, 0, 0);
    float: center;
    text-align: center;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

/* designated parts for the style of each of box */
.header {
    grid-area: header;
    padding: 10px;
    border: solid rgb(0, 0, 0);
    float: center;
    text-align: center;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

/* designated parts for the style of each of box */
.paragraph_one {
    grid-area: paragraph_one;
    padding: 94.5px 22px;
    border: solid rgb(0, 0, 0);
    text-align: center;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

/* designated parts for the style of each of box */
.footer {
    grid-area: footer;
    padding: 10px;
    border: solid rgb(0, 0, 0);
    text-align: center;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

/* creates blank spaces to center my website */
.blankOne {
    grid-area: blankOne;
}

.blankTwo {
    grid-area: blankTwo;
}

.blankThree {
    grid-area: blankThree;
}

.blankFour {
    grid-area: blankFour;
}

.blankFive {
  grid-area: blankFive;
}

.blankSix {
  grid-area: blankSix;
}

.blankSeven {
  grid-area: blankSeven;
}

.blankEight {
  grid-area: blankEight;
}

.blankNine {
  grid-area: blankNine;
}

.blankTen {
  grid-area: blankTen;
}

/* names of fonts used for the following tags as well as the size of the fonts taken care of */
h1  {
    font-family: 'Ubuntu', sans-serif;
}

h2  {
    font-family: 'Ubuntu', sans-serif;
}

h3  {
    font-family: 'Ubuntu', sans-serif;
}

footer  {
    font-family: 'Ubuntu', sans-serif;
}

p   {
    font-family: 'Nunito', sans-serif;
}

/*describes the action taking place revolved around the links to the other pages*/
a:visted {
    color: rgb(0, 0, 255) ;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(128, 128, 128);
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: underline;
}