@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&family=Ubuntu:wght@300&display=swap');
@media only screen and (min-width: 600px) {
.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
    "title title" 
    "navigation navigation"
    "header header"
    "paragraph_one image_one"
    "footer footer";
    grid-gap: 4px;
  }
}
@media only screen and (max-width: 600px) {
    .container {
     grid-template-columns: 1fr;
     grid-template-rows: auto;
     grid-template-areas: 
     "title"
     "nav"
     "header"
     "paragraph_one"
     "image_one"
     "footer";
    }
  }

.div {
resize: both;
overflow: auto;
}

.title {
    grid-area: title;
}

.navigation {
    grid-area: navigation;
}

.header {
    grid-area: header;
}

.paragraph_one {
    grid-area: paragraph_one;
}

.image_one {
    grid-area: image_one;
}

.footer {
    grid-area: footer;
}



h1  {
    font-family: 'Ubuntu', sans-serif;
}

h2  {
    font-family: 'Ubuntu', sans-serif;
}

h3  {
    font-family: 'Ubuntu', sans-serif;
}

footer  {
    font-family: 'Ubuntu', sans-serif;
}

p   {
    font-family: 'Nunito', sans-serif;
}